<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodvillage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodVillage"
        android:usesCleartextTraffic="true">
        <activity android:name=".CurrentAddressActivity2" />
        <activity android:name=".storeInfo.ui.StoreInfoActivity" />
        <activity android:name=".MyMapActivity" />
        <activity android:name=".DBMarketMapActivity" />
        <activity android:name=".storeList.StoreListActivity" />
        <activity android:name=".login.ui.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddressSettingAcitivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".EcoScoreAcitivity" />
        <activity android:name=".CurrentAddressActivity" />
        <activity android:name=".DetailAddressActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="fa4beeecb60297b77f7dd90a3b2d4c64" />
    </application>

</manifest>